.productItem{
    width: 33%;
    text-align: center;
}
.productLink{
    font-size: $span-font-size;
    color: $color-secondary;
    font-weight: bold;
    border: 1px solid #DCDCDC;
    padding: 27px 20px;
    @include pad{
        padding: 14px 20px;
        font-size: $h4-font-size;
    }
    @include mobile{
        font-size: 14px;
        padding: 6px;
    }
}
.productLink.active{
    position: relative;
}
.productLink.active::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-bottom: 8px solid #AA0601;   
}
.productLink.hover::after{
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    border-bottom: 8px solid transparent;
    transition:all .4s;
    @include mobile{
        border-bottom: 4px solid transparent;
    }
}
.productIcon{
    font-size: 40px;
    margin-right: 10px;
    @include pad{
        font-size: 30px;
    }
    @include mobile{
        font-size: 14px;
        margin-right: 2px;
    }
}
.productAd{
    width: 50%;
    height: 304px;
    @include mobile{
        height: 148px;
    }
}
.opticalAd-1{
    background: url(../images/banner-1.png)no-repeat center/cover;
}
.opticalAd-2{
    background: url(../images/banner-2.png)no-repeat center/cover;
}
.productBlock{
    text-align: center;
    @include pad{
        padding-top: 56px;
    }
    @include mobile{
        padding-top: 32px;
    }
}
.productTitle{
    font-size: 42px;
    @include pad{
        font-size: $span-font-size;
    }
    @include mobile{
        font-size: $h5-font-size;
    }
}
.productSubtitle{
    font-size: $span-font-size;
    @include pad{
        font-size: $h4-font-size;
    }
    @include mobile{
        font-size: $font-size-base;
        margin-bottom: 4px;
    }
}
.productMenu{
    @include pad{
        margin-bottom: 21px;
    }
    @include mobile{
        margin-bottom: 24px;
    }
}
.productCard{
    width: 23%;
    @include pad{
        width: 48%;
        margin: 32px 0;
    }
    @include mobile{
        width: 100%;
        margin: 16px 0;
    }
}
.productPic{
    height: 164px;
}
.opticalPic-1{
    background: url(../images/products-1.png)no-repeat center/cover;
}
.opticalPic-2{
    background: url(../images/products-2.png)no-repeat center/cover;
}
.opticalPic-3{
    background: url(../images/products-3.png)no-repeat center/cover;
}
.opticalPic-4{
    background: url(../images/products-4.png)no-repeat center/cover;
}
.opticalPic-5{
    background: url(../images/products-5.jpg)no-repeat center/cover;
}
.opticalPic-6{
    background: url(../images/products-6.jpg)no-repeat center/cover;
}
.opticalPic-7{
    background: url(../images/products-7.jpg)no-repeat center/cover;
}
.opticalPic-8{
    background: url(../images/products-8.jpg)no-repeat center/cover;
}
.opticalPic-9{
    background: url(../images/products-9.jpg)no-repeat center/cover;
}
.opticalPic-10{
    background: url(../images/products-10.jpg)no-repeat center/cover;
}
.opticalPic-11{
    background: url(../images/products-11.jpg)no-repeat center/cover;
}
.opticalPic-12{
    background: url(../images/products-12.jpg)no-repeat center/cover;
}
.productColor{
    font-size: $h4-font-size;
}
.productPrice{
    color: #AA0601;
    font-weight: bold;
}
.darkColor{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: #5F3E2D;
    margin-right: 8px;
}
.lightColor{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    background: #B75929;
}
.pageBar{
    margin-top: 96px;
    margin-bottom: 160px;
    @include pad{
        margin-bottom: 96px;
    }
    @include mobile{
        margin-bottom: 56px;
    }
}
.pageLink{
    padding: 11px 16px;
    font-size: 19px;
    color: #555555;
    border: 1px solid #555555;
    &:hover{
        background-color: #555555;
        color:$linkColor-primary;
    }
    @include pad{
        font-size: 18px;
    }
    @include mobile{
        font-size: $font-size-base;
        padding: 10px 12px;
    }
}