
//版面寬度
.container{
    max-width: 1140px; 
    margin: 0 auto;
    padding: 0 15px;
    @media(max-width: 992px){
        max-width: 720px;
    }     
}


//圖片取代文字
.text-hidden{
    white-space: nowrap; 
    text-indent: 101%; 
    overflow: hidden;
}
//陰影效果box-shadow

//flex
.d-flex{
    display: flex;
}
.d-block{
    display: block;
}
.justify-content-space-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;
}
.align-items-flex-end{
    align-items: flex-end;
}
.align-items-baseline{
    align-items: baseline;
}
.flex-direction-column{
    flex-direction: column;
}
.flex-wrap-wrap{
    flex-wrap: wrap;
}
.flex-direction-row-reverse{
    flex-direction: row-reverse;
    @media(max-width: 768px){
        flex-direction: row;
    }
}


//PC間距
.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
.mt-1{
    margin-top: 8px;
}
.mt-3{
    margin-top: 24px;
}
.mt-4{
    margin-top: 32px;
}
.mt-5{
    margin-top: 40px;
}
.mt-6{
    margin-top: 48px;
}
.pb-1{
    padding-bottom: 8px;
}
.pb-5{
    padding-bottom: 40px;
}
.pt-2{
    padding-top: 16px;
}
.pt-4{
    padding-top: 32px;
}
.pt-5{
    padding-bottom: 40px;
}
.pt-10{
    padding-top: 80px;
}
.pr-4{
    padding-right: 32px;
}
.pr-6{
    padding-right: 48px;
}